.containerr{
    font-weight: 600;
    font-family: Barlow;
    margin-left: 15rem;
    margin-right: 15rem;
    font-size: 1.2rem;
    height: 75px;
    margin-top: 10rem;
}
.certi{
    display: flex;
    justify-content: center;
  

}