.bghi {
  height: 20rem;
  background-color: #f8f8fd;
}

.head {
  margin-top: 1.3rem;
  margin-left: 10rem;
}

.mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  font-family: Barlow;
  font-weight: 800;
  font-size: 1.6rem;
  margin-top: 5rem;
}
